.landing {
  height: 100%;
  width: 100%;
  background: url("../../assets/landing.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;

  .top {
    height: 85%;
    width: 100%;
    padding: 7.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mid-content{
      color: #fff;
      p{
        padding-top: 7.5%;
      }
    }
    .button-wrapper{
      padding-top: 7.5%;
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
  .bottom {
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    p {
      text-align: center;
    }
  }
}
