.for-you-card{
    display: flex;
    min-width: 70%;
    background-color: azure;
    overflow: auto;
    padding: 10px 10px;
    border-radius: 5px;
    img{
        width: 60px;
      padding: 0px 10px;
    }
}